<h1>Welcome to the About Page</h1>

<h2>Introduction</h2>

<p>Thank you for visiting <em>my</em> website! My name is <b>Huy</b>, and I'm currently enrolled in the
	Business
	Information Technology program at Seneca Polytechnic. This is my second semester. My student ID is
	170949218. I'm passionate about software programming. Feel free to explore the rest of the site to
	learn more about me and my projects!</p>