<h1>Welcome to my website</h1>

<p>Here, I'll be your guide through the world of HTML5, breaking down its principles and techniques in easy-to-understand terms. 
	Plus, we'll dive into Express routing, simplifying the process so you can confidently navigate your way through web development. 
	Let's embark on this journey together!</p>

<h2>Website Components</h2>

<p>This site consists of 3 static views (<a href="/">Home</a>, <a href="/about">About</a>, <a href="/htmlDemo">HTML Demo</a>, <a href="/students/add">Add Student</a>) 
	as well as 5 routes that supply data, including: 
	<a href="/students">All Students</a>, <a href="/students?course=2">Students by Course</a>, <a href="/students/1">A Single Student By Student Number</a>, 
	<a href="/tas">All Managers</a> and <a href="/courses">All Courses</a></p>

<h2>Foundation</h2>

<p>This site is built upon the robust foundation of HTML5, a sophisticated markup language meticulously	crafted to structure and elegantly present content across the expansive landscape of the World Wide	Web.</p>